.todolist-container {
   max-width: max-content;
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
}

.todo-form-container {
   height: 60px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.add-todo {
   margin-left: 10px;
   background-color: #1e84f0;
}

.todolist {
   min-width: 100%;
   height: 300px;
   overflow-y: scroll;
}

.todo {
   display: flex;
   word-break: break-all;
   justify-content: space-between;
   align-items: center;
   padding: 1.2rem;
   border-radius: 10px;
   margin: 0 1rem 1rem 0;
   font-size: 17px;
   color: #fff;
   background: rgb(75, 155, 239);
   box-shadow: 3px 4px rgba(75, 155, 239, 0.4);

   & > span {
      font-family: 'Inter';
   }
}

.todo-checkbox {
   margin: 0 10px;
   min-width: 18px;
   min-height: 18px;
   border-radius: 20%;
   vertical-align: middle;
   border: 2px solid #ddd;
   background-color: #fff;
   appearance: none;
   -webkit-appearance: none;
   outline: none;
   cursor: pointer;
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 13l4 4L19 7"></path></svg>');
   background-repeat: no-repeat;
   background-position: center;

   &:checked {
      background-color: #88dbf0;
   }

   &:active {
      transform: scale(1.2);
   }
}

.todo-edit,
.todo-delete {
   margin: 0 10px;
   cursor: pointer;
}

@keyframes shake {
   0%,
   100% {
      transform: translateX(0);
   }
   25%,
   75% {
      transform: translateX(-2px);
   }
   50% {
      transform: translateX(2px);
   }
}

.todo-delete:hover {
   animation: shake 0.5s;
}

.completed {
   text-decoration: line-through;
   color: #000;
}

input[type='text'].new-todo-input {
   max-width: 20rem;
   min-width: 150px;
   margin: 0 25px 0 0;
}

.new-todo-input:focus {
   border: none;
   outline: #1e84f0 solid 2px;
   transition: all 180ms ease-in-out;
   box-shadow: none;
}

.add-todo {
   background-color: #1e84f0 !important;
}

.add-todo:active {
   transform: scale(0.9);
}
