.todolist-container {
   max-width: max-content;
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
}

.todo-form-container {
   height: 60px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.add-todo {
   margin-left: 10px;
   background-color: #8758ff;
}

.todolist {
   min-width: 100%;
   height: 300px;
   overflow-y: scroll;
}

.todo {
   display: flex;
   word-break: break-all;
   justify-content: space-between;
   align-items: center;
   padding: 0.75rem 1rem;
   border-radius: 5px;
   margin-bottom: 1rem;
   font-weight: 500;
   color: #fff;
   background: #8758ff;

   &:hover {
      cursor: pointer;
   }
}

.todo-edit,
.todo-delete {
   margin: 0 2px;
   cursor: pointer;
}

.completed {
   text-decoration: line-through;
   color: black;
}

input[type='text'].new-todo-input {
   max-width: 20rem;
   min-width: 150px;
   padding-left: 15px;
}

.new-todo-input:focus {
   border: none;
   outline: #8758ff solid 2px;
   transition: all 180ms ease-in-out;
   box-shadow: none;
}

.add-todo {
   background-color: #8758ff !important;
}

.add-todo:active {
   transform: scale(0.9);
}
