.Customers {
   display: flex;
   flex-direction: column;
   padding: 3rem 1rem 1.5rem 1rem;
   background-color: #e7e9eb;
   width: 100%;
}

.table-actions {
   background-color: #fff;
   color: black;
   border: none;

   &.btn,
   &.btn:active,
   &.btn:hover,
   &.btn.show {
      background-color: #fff;
      color: black;
      border: none;
   }
   &::after {
      content: none;
   }
}

.item-action {
   padding: 10px;
}
