:root {
   --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
   --orange: #fca61f;
   --black: #242d49;
   --gray: #788097;
   --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
   --pink: #ff919d;
   --glass: rgba(255, 255, 255, 0.54);
   --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
   --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
   --activeItem: #788097;
   --color-primary: #141414;
   --color-green: #4a9d77;
   --color-primary-01: #e2f4ec;
   --color-primary-02: #f8f8ff;
   --color-primary-03: #f4fffa;
   --color-red: #e95060;
   --color-red-01: #ffeff1;
   --color-red-02: #F5222D;
   --color-orange: #fca61f;
   --color-white: #fff;
   --color-white-01: #f0f2f7;
   --color-white-02: #e4e8ee;
   --color-purple: #c3c2e0;
   --color-purple-01: #ccd1fe;
   --color-purple-02: #3331a7;
   --color-purple-03: #e7e9f3;
   --color-purple-04: #60669f;
   --color-purple-05: #e2e5ff;
   --color-purple-06: #1B9AAA;
   --color-purple-07: #595959;
   --color-purple-08: #dddcff;
   --color-purple-blur: rgba(54, 53, 101, 0.8);
   --color-yellow: #f7c957;
   --color-yellow-01: #ffc107;
   --color-yellow-02: rgb(243, 213, 17);
   --color-blue-01: #4299e1;
   --color-blue-02: #90cdf4;
   --color-blue-03: #58b9f5;
   --color-blue-04: #79c4f3;
   --color-blue-05: #bfe1f7;
   --color-blue-06: #77b2f5;
   --color-blue-07: #4c9bf5;
   --color-overlay: #22aec0;
   --color-black: #202224;
   --color-black-01: #12101d;
   --color-gray: #c4c4c4;
   --color-gray-01: #f3f3f9;
   --color-blue-munsell-05: #F3FAFB;
   --Blue-Munsell-Main: #1B9AAA;
   --color-book-incoming: #1B9AAA;
   --color-book-cancel: #BFBFBF;
   --color-book-modified: #FFC599;
   --color-book-completed: #1BB250;
   --color-book-multiple: #5A78FF;

   --text-primary: #000;
   --header-and-footer: #edeff2;
   --header-and-footer-darkmode: #2d2f39;
   --background-sidebar: #161a23;
   --border-color: #d9d9d9;
   --backgroundSidebar: #3e4759ff;
   --bodyContent: #e7e9eb;
   --buttonSubmit: #4d90fe;
   --buttonSubmitHover: #357ae8;
   --buttonCancel: #fd345c;
   --buttonCancelHover: rgb(240, 48, 86);

   --color-sidebar-header-footer: #90cdf4;
   --color-main-header: linear-gradient(to right, var(--color-blue-01), #ADD8E6);
   --color-main-background: #F3FAFB;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   font-family: 'Nunito Sans', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 1.2rem;
   text-rendering: optimizeSpeed;
   line-height: 1.3;
}

/* Scrollbar CSS */
html *::-webkit-scrollbar {
   border-radius: 0;
   width: 5px;
}

html *::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}

a[href] {
   color: black;
   text-decoration: none;
}

html {
   font-size: 80%;
}

label {
   font-size: 1.2rem;
   font-weight: normal;
}

.table-actions {
   background-color: transparent;
   color: black;
   border: none;

   &.btn,
   &.btn:active,
   &.btn:hover,
   &.btn.show {
      background-color: transparent;
      color: black;
      border: none;
   }

   &::after {
      content: none;
   }
}

.swal2-popup {
   font-size: 16px;
}

.floating-label {
   width: 100%;
   margin: 1rem 0.5rem;
   position: relative;
}

.floating-label input {
   margin: 0;
}

.floating-label label {
   position: absolute;
   left: 1.1rem;
   top: 1rem;
   transition: top 0.3s, left 0.3s, font-size 0.3s;
   color: black;
}

.floating-label input:not(:placeholder-shown)+label {
   top: -0.8rem;
   left: 1rem;
   font-size: 14px;
   color: #007bff;
   background-color: #fff;
   padding: 0 0.1rem;
}

.floating-label input:not(:focus):not(:placeholder-shown)+label {
   display: none;
}

.no-margin-label {
   margin: 0;
}

.form-panel-input.disabled-input {
   background-color: #eee !important;
}

.kFhNkw {
   font-weight: 700 !important;
   font-size: 24px !important;
   font-family: 'Nunito Sans', sans-serif !important;
   padding: 25px 10px 0 20px !important;
}