.cart-container {
   display: flex;
   height: 100%;
   width: 100%;
   padding: 10px;
   text-shadow: 1px px rgba(0, 0, 0, 0.5);
   padding: 5px;
}

.cart-left {
   display: flex;
   flex-direction: column;
   flex: 1;
   justify-content: space-evenly;
   align-items: center;

   .cart-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 72px;
      height: 72px;
      margin: 0 auto;
      border-radius: 10px;
      outline: 2px solid rgba(255, 255, 255, 0.5);
      border: 2px solid rgba(228, 223, 223, 0.2);
      background-color: transparent;

      &.color1 {
         color: #fff;
      }

      &.color2 {
         color: #fff;
      }

      &.color3 {
         color: #fff;
      }

      &.color4 {
         color: #fff;
      }
   }

   .cart-icon svg {
      width: 40px;
      height: 40px;
   }

   @media screen and (max-width: 767px) {
      .cart-icon {
         width: 5rem;
         height: 5rem;
      }

      .cart-icon svg {
         width: 3rem;
         height: 3rem;
      }
   }
}

.cart-icon:hover {
   transform: scale(1.05);
   transition: transform 0.15s linear;
}

.cart-right {
   color: #fff;
   display: flex;
   flex-direction: column;
   flex: 2;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
   position: relative;

   .cart-title {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 0.5px 1px rgba(0, 0, 0, 0.4);
   }

   .cart-count {
      font-size: 28px;
      font-weight: 600;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
   }

   .cart-up {
      border-radius: 18px;
      padding: 6px;
      background-color: rgb(255, 255, 255, 0.4);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border: 2px solid #eee;
      text-align: center;
      text-transform: capitalize;
      position: relative;
   }

   @media screen and (max-width: 767px) {
      .cart-title {
         font-size: 2rem;
      }

      .cart-count {
         font-size: 2.5rem;
      }
   }
}