.wrapper-videos {
   overflow-y: scroll;
}

.container-video {
   margin-top: 1.5rem;
   display: flex;
   flex-direction: row;
}

.video {
   margin: 0.5rem 1rem 1rem 2rem;
}

.react-player {
   width: 75%;
   border-radius: 8px;
   overflow: hidden;
}

.information-video {
   display: flex;
   flex-direction: column;
   margin: 0.5rem 1rem 1rem 2rem;
   font-size: 2rem;
   font-weight: 500;
}

.container-video + .container-video {
   margin-bottom: 3rem;
}
