.menu {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px 8px 0;
   gap: 18px;
   height: 100%;
   color: var(--text-primary);
   overflow-y: overlay;
}

.menuItem {
   width: 100%;
   display: flex;
   align-items: center;
   height: 3.5rem;
   font-size: 14px;
   border-radius: 10px;
   gap: 0.8rem;
   cursor: pointer;

   &:hover {
      background-color: var(--color-blue-05);
      color: var(--color-white);
   }

   &.darkmode:hover {
      background-color: #d4d3d3;
   }

   &.active {
      background: var(--color-blue-04);
      color: var(--color-white);
      border: 1px solid var(--color-blue-05);

      &.darkmode {
         background: #c7c5c5;
      }
   }
}

.menu .menuItem:last-child {
   bottom: 2.3rem;
}



.icon {
   margin-left: 1.8rem;
}

.item {
   font-size: 1.4rem;
   font-weight: 600;
}

.wrapperMenu {
   display: flex;
   flex-direction: column;
}

.menuItemDropdown {
   display: flex;
   align-items: center;
   position: relative;
}

.dropdownContent {
   padding-top: 0.5rem;
   border-radius: 0.7rem;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menuItemDropdown .rotate {
   transform: rotate(180deg);
}

.dropdownContent a {
   display: block;
   height: 1.8rem;
   text-align: center;
   padding: 0.6rem 1.5rem;
   border-radius: 0.2rem;
   font-size: 14px;
}

/* .dropdownContent a:hover {
    background-color: var(--gray);
} */

.menuItemDropdown .item {
   margin-left: 1rem;
}

.iconDropdown {
   position: fixed;
   left: 11.5rem;
}