.menu {
   display: flex;
   flex-direction: column;
   margin-top: 4rem;
   gap: 2rem;
   overflow-y: overlay;
   height: 100%;
}

.menuItem {
   display: flex;
   align-items: center;
   height: 3.5rem;
   font-size: 14px;
   border-radius: 0.4rem;
   margin-right: 8px;
   gap: 0.8rem;
   transition: all 0.6s ease-in-out;
}

.menuItem:hover {
   box-shadow: inset 200px 0 0 0 var(--gray);
   cursor: pointer;
}

.menu .menuItem:last-child {
   bottom: 2.3rem;
}

.active::before {
   width: 8px;
   height: 100%;
   margin-right: calc(1rem - 20px);
   content: '';
   background: var(--white);
}

.icon {
   margin-left: 1.5rem;
}

.item {
   font-size: 1.2rem;
   font-weight: 600;
}

.wrapperMenu {
   display: flex;
   flex-direction: column;
}

.menuItemDropdown {
   display: flex;
   align-items: center;
   position: relative;
}

.dropdownContent {
   padding-top: 0.5rem;
   border-radius: 0.7rem;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menuItemDropdown .rotate {
   transform: rotate(180deg);
}

.dropdownContent a {
   display: block;
   height: 1.8rem;
   text-align: center;
   padding: 0.6rem 1.5rem;
   border-radius: 0.2rem;
   font-size: 14px;
}

/* .dropdownContent a:hover {
    background-color: var(--gray);
} */

.menuItemDropdown .item {
   margin-left: 1rem;
}

.iconDropdown {
   position: fixed;
   left: 11.5rem;
}
