.App {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100dvh;
   width: 100%;
   color: var(--black);
   background: #202124;
   font-family: 'Inter', 'Roboto', sans-serif;
}