.dashboard-charts-box-container {
   overflow: hidden;
   scroll-behavior: smooth;
}

.dashboard-grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
   grid-template-rows: repeat(auto-fit, minmax(140px, 1fr));
   gap: 20px;
}

.box {
   margin: 0.8rem;
   border-radius: 14px;
   color: var(--color-black);
   display: flex;
   font-size: 18px;
   background-color: #fff;
   justify-content: center;
   align-items: center;
   height: 140px;
}

.large-box-wrapper {
   border-radius: 14px;
   background-color: #fff;
   margin: 0.8rem;
   padding: 20px 32px;
}


.box5 {
   background-color: #fff;

}

.box6 {
   background-color: #fff;
}

.box7 {
   background-color: #fff;
}

/* ======================================================================== */
.box-chart-container {
   display: flex;
   height: 100%;
   width: 100%;
}

.box-info {
   flex: 2;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0.4rem 2rem;
   font-size: 20px;
   font-weight: bold;
}

.box-chart-title {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 5px;
}

.box-chart-quanlity {
   font-size: 45px;
   font-weight: bold;
}

.box-chart-info {
   flex: 3;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 2px;
   width: max-content;
   box-sizing: border-box;
}

.shape-chart {
   padding: 0 0.5rem;
   width: 95%;
   height: 100%;
}

.texts {
   display: flex;
   flex-direction: column;
   text-align: right;
}

.percentage {
   font-weight: bold;
   font-size: 20px;
}

.duration {
   font-size: 14px;
}

.large-box-chart {
   min-width: 365px;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   color: black;
   justify-content: space-between;
   padding: 0.4rem 2rem;
   position: relative;
}

.large-box-chart-info {
   flex: 1;
   display: flex;
   flex-direction: row;
   position: relative;
   padding: 0 1rem;
}

.large-box-chart-title {
   position: relative;
   padding: 1rem 0;
}

.large-box-title {
   font-size: 24px;
   font-weight: 700;
}

.large-box-chart-content {
   flex: 1;
   position: relative;
}

.large-shape-chart {
   height: 380px;
}

@media screen and (max-width: 767px) {
   .dashboard-grid-container {
      gap: 5px;
   }
}