.menu {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 14px 20px;
   gap: 10px;
   height: 100%;
   color: var(--text-primary);
   overflow-y: overlay;
   transition: all .3s ease;
}

a.menuItem[href] {
   width: 100%;
   display: flex;
   align-items: center;
   height: 45px;
   border-radius: 8px;
   gap: 14px;
   color: var(--color-blue-06);
   transition: background-color, color .3s ease;
   cursor: pointer;

   &:hover {
      background-color: var(--color-blue-07);
      color: var(--color-white);
   }

   &.darkmode {
      color: var(--color-white);
   }

   &.darkmode:hover {
      background-color: #d4d3d3;
   }

   &.active {
      background-color: var(--color-blue-07);
      color: var(--color-white);

      &.darkmode {
         background: #c7c5c5;
      }
   }
}

.menu .menuItem:last-child {
   bottom: 2.3rem;
}

.icon {
   margin-left: 20px;
}

.item {
   font-size: 16px;
   font-weight: 600;
}

.wrapperMenu {
   display: flex;
   flex-direction: column;
}

.menuItemDropdown {
   display: flex;
   align-items: center;
   position: relative;
}

.dropdownContent {
   padding-top: 0.5rem;
   border-radius: 0.7rem;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menuItemDropdown .rotate {
   transform: rotate(180deg);
}

.dropdownContent a {
   display: block;
   height: 1.8rem;
   text-align: center;
   padding: 0.6rem 1.5rem;
   border-radius: 0.2rem;
   font-size: 14px;
}


.menuItemDropdown .item {
   margin-left: 1rem;
}

.iconDropdown {
   position: fixed;
   left: 11.5rem;
}