.dashboard-charts-box-container {
   overflow: hidden;
   scroll-behavior: smooth;
}

.dashboard-grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
   grid-template-rows: repeat(auto-fit, 195px);
   gap: 10px;
   padding: 1.5rem 0;
}

.box {
   margin: 0.8rem;
   border-radius: 10px;
   color: #fff;
   display: flex;
   font-size: 18px;
   border: 2px solid black;
   background-color: var(--activeItem);
   justify-content: center;
   align-items: center;
}

.box1 {
   opacity: 0.9;
   grid-column: span 1;
   grid-row: span 1;
   background-color: #747af2;
}

.box2 {
   opacity: 0.9;
   grid-column: span 1;
   grid-row: span 1;
   background-color: #39f;
}

.box3 {
   opacity: 0.9;
   grid-column: span 1;
   grid-row: span 1;
   background-color: #ef376e;
}

.box4 {
   opacity: 0.9;
   grid-column: span 1;
   grid-row: span 1;
   background-color: #f79009;
}

.box5 {
   grid-column: span 1;
   grid-row: span 3;
   background-color: #fff;
}

.box6 {
   grid-column: span 1;
   grid-row: span 3;
   background-color: #fff;
}

.box7 {
   grid-column: span 2;
   grid-row: span 3;
   background-color: #fff;
}

.box-chart-container {
   display: flex;
   height: 100%;
   width: 100%;
}

.box-info {
   flex: 2;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0.4rem 2rem;
   font-size: 20px;
   font-weight: bold;
}

.title {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 5px;
}

.box-quanlity {
   font-size: 45px;
   font-weight: bold;
}

.chartInfo {
   flex: 3;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 2px;
   width: max-content;
   box-sizing: border-box;
}

.chart {
   padding: 0 0.5rem;
   width: 95%;
   height: 100%;
}

.texts {
   display: flex;
   flex-direction: column;
   text-align: right;
}

.percentage {
   font-weight: bold;
   font-size: 20px;
}

.duration {
   font-size: 14px;
}

.largeBox {
   min-width: 365px;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   color: black;
   justify-content: space-between;
   padding: 0.4rem 2rem;
}

.largeBoxInfo {
   flex: 1;
   display: flex;
   flex-direction: row;
}

.largeChartBox {
   flex: 1;
}

.largechart {
   height: 380px;
}

@media (max-width: 768px) {
   .box7 {
      grid-column: span 1;
      grid-row: span 3;
      background-color: #fff;
   }
}

@media (max-width: 1545px) and (min-width: 1172px) {
   .box1,
   .box2,
   .box3,
   .box4 {
      grid-column: span 1;
      grid-row: span 1;
   }
   .box6 {
      grid-row: 1 / 3;
      grid-column: 2 / 4;
   }

   .box5 {
      grid-row: 3 / 5;
      grid-column: 2 / 4;
   }

   .box7 {
      grid-row: span 3;
      grid-column: span 3;
   }
}
