.container {
  overflow: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 160px);
  gap: 20px;
  padding: 1.5rem 2rem;
}

.box {
  margin: 0.8rem;
  border-radius: 10px;
  background-color: var(--activeItem);
  color: #3399ff;
  display: flex;
  font-size: 18px;
  border: 2px solid black;
  background-color: #fff;
}

.box1 {
  grid-column: span 1;
  grid-row: span 1;
}

.box2 {
  grid-column: span 1;
  grid-row: span 1;
}

.box3 {
  grid-column: span 1;
  grid-row: span 1;
}

.chartBox {
  display: flex;
  height: 100%;
  width: 100%;
}

.boxInfo {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4rem 2rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chart {
  width: 100%;
  height: 100%;
}

.chartInfo {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4rem 2rem;
}
.texts {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.percentage {
  font-weight: bold;
  font-size: 20px;
}

.duration {
  font-size: 14px;
}
