.circular-container {
   /* background-color: #000; */
}

.circular-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   gap: 12px;

   .circular-chart {
      height: 160px;
      width: 160px;
   }

   .circular-day {
      font-weight: 500;
   }

   .circular-amount {
      font-size: 24px;
      font-weight: bold;
   }

   .circular-desc {
      font-weight: 500;
   }
}
