.main-dashboard-container {
   box-sizing: border-box;
   padding: 2rem;
   background-color: var(--bodyContent);
   overflow-y: scroll;
}

.btn-add {
   margin-right: 0.5rem;
}

.searchBox {
   margin: 0;
   margin-bottom: 0.5rem;
}

.add-filter-wrapper {
   display: flex;
   flex-direction: row;
   justify-items: center;
   align-items: center;
   width: 3rem;
   height: 3rem;
   margin-bottom: 0.5rem;
}

.combined-stats-container {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding-left: 1rem;
   margin: 10px 0 10px -1rem;
   justify-content: space-between;
}

.combined-stats-item {
   padding: 20px;
   flex: 1;
   margin: 10px 0 10px 1rem;
   border-radius: 15px;
   background-color: #fff;
   align-self: stretch;
}

.combined-stats-header {
   display: flex;
   height: 40px;
   align-items: center;
   justify-content: space-between;
}

.combined-stats-title {
   font-weight: 600;
}

.combined-stats-icon {
   cursor: pointer;
}

.combined-stats-content {
   display: flex;
   flex-direction: column;
   flex: 1;
   flex-shrink: 0;
   align-self: stretch;
   height: 91%;
}

/* FormPanel.jsx */
.form-panel-container {
   width: 100%;
}

.form-panel {
   width: 100%;
   padding: 10px;
   margin: 2rem 0;
   border-radius: 15px;
   background-color: #fff;
}

.title-panel {
   padding: 10px;
   font-size: 24px;
   font-weight: bold;
   text-align: center;
}

.form-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.form-control-input {
   padding: 8px 5px;
}

.form-panel-input {
   max-width: max-content;
   padding: 5px;
}

.form-control-btn {
   margin: 10px;
}

.button-group-form-panel {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.button-group-form-panel {
   display: flex;
   flex-direction: row;
}

@media screen and (max-width: 1068px) {
   .form-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}
