.admin-layout {
   display: flex;
   width: 100%;
   height: 100%;
   background: var(--glass);
   overflow-y: hidden;
}

.admin-layout-container {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: var(--color-main-background);

   &.darkmode {
      background: linear-gradient(to bottom right, #000, #141b2d, #ddd);
   }

}