.on-top-wrapper {
   width: 4rem;
   height: 4rem;
   position: fixed;
   right: 10px;
   bottom: 10px;
   border-radius: 50%;
   background-color: #4d90fe;
   z-index: 10;
   transition: all 250ms ease-in-out;
}

.on-top-wrapper:active {
   transform: scale(1.1);
}

.on-top-wrapper:hover {
   .on-top-close {
      opacity: 1;
   }
}

.on-top-container {
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   background-color: transparent;
}

.on-top-close {
   opacity: 0;
}

.on-top-close {
   position: absolute;
   width: 20px;
   height: 20px;
   top: -5px;
   right: 0;
   border-radius: 50%;
   border: 1px solid black;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   color: white;
   background-color: black;
   transform: scale(0.8);
   cursor: pointer;
}

.on-top-wrapper.hidden-on-top {
   display: none;
}
