.breadcrumb {
   padding: 10px;
   border-radius: 5px;
   margin-bottom: 20px;
}

.breadcrumb-item {
   font-size: 16px;
   font-weight: 700;
   color: #0529ca;
}

.breadcrumb-item:hover {
   color: #007bff;
}

.breadcrumb-item.active {
   font-weight: bold;
   color: #007bff !important;
}
