.forgot-password-form-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #dadde2;
}

.header-form {
   color: var(--color-black);
}

.forgot-password-form {
   width: 350px;
   padding: 20px;
   background-color: #fff;
   border-radius: 30px;
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
   gap: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.forgot-password-form>h2 {
   color: var(--color-blue-03);
   font-weight: 500;
}

.lbl-reset-pwd {
   padding: 10px 5px;
}

.input-reset-pwd {
   margin-top: 10px;
}

.forgot-password:hover {
   text-decoration: underline;
}