/* ForgotPasswordForm.css */

.forgot-password-form-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #46c4e4;
}

.forgot-password-form {
   max-width: 450px;
   min-width: 250px;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 8px;
   background-color: #ffffff; /* Nền trắng cho form */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   gap: 10px;
}

.forgot-password-form > h2 {
   color: #46c4e4;
   font-weight: 500;
}

.lbl-reset-pwd {
   padding: 10px 5px;
}

.input-reset-pwd {
   margin-top: 10px;
}

.forgot-password:hover {
   text-decoration: underline;
}
