.todolist-container {
   max-width: max-content;
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
}

.todo-form-container {
   width: 100%;
   height: 60px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 10px 0;
   gap: 1rem;
}

.add-todo {
   width: 60px;
   height: 40px;
   margin-left: 5px;
   background-color: #1e84f0;
   font-size: 14px !important;

   &:hover {
      box-shadow: 0 0 5px #0d70da;
   }
}

.todolist {
   width: 100%;
   height: 300px;
   overflow-y: scroll;
   overflow-x: hidden;
   background-color: rgba(238, 238, 238, 0.5);
   border-radius: 15px;
   padding: 1rem;
}

.todo {
   display: flex;
   overflow-wrap: break-word;
   position: relative;
   align-items: center;
   justify-content: space-between;
   border-radius: 15px;
   margin: 0 0.1rem 1rem 0;
   padding: 8px 8px;
   font-size: 14px;
   color: #fff;
   font-weight: normal;
   background: rgb(101, 167, 238);
   box-shadow: 2px 2px rgba(111, 159, 211, 0.5);
   filter: drop-shadow(0 0 1rem 0 rgba(255, 255, 255, 0.5));
}

.todo-checkbox {
   margin: 0 0.8rem 0 0.5rem;
   min-width: 18px;
   min-height: 18px;
   border-radius: 20%;
   vertical-align: middle;
   border: 2px solid #ddd;
   background-color: #fff;
   appearance: none;
   -webkit-appearance: none;
   outline: none;
   cursor: pointer;
   background-repeat: no-repeat;
   background-position: center;

   &:checked {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="lime" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"><path d="M5 13l4 4L19 7"></path></svg>');
   }

   &:active {
      transform: scale(1.2);
   }
}

.todo-edit,
.todo-delete {
   width: 22px;
   height: 22px;
   margin: 5px 10px;

   cursor: pointer;
}

.todo-delete-wrapper {
   margin-left: 5px;

   &:hover {
      opacity: 0.4;
      background-color: rgb(201, 197, 197);
      border-radius: 5px;
   }
}

@keyframes shake {

   0%,
   100% {
      transform: translateX(0);
   }

   25%,
   75% {
      transform: translateX(-2px);
   }

   50% {
      transform: translateX(2px);
   }
}

.todo-delete:hover {
   animation: shake 0.5s;
}

.completed {
   text-decoration: line-through;
   color: #333333;
}

input[type='text'].new-todo-input {
   width: 100%;
   flex: 1;
   height: 35px;
   border-radius: 20px;
}

.container-new-todo-input {
   width: 100%;
}

.new-todo-input:focus {
   border: none;
   outline: #1e84f0 solid 2px;
   transition: all 180ms ease-in-out;
   box-shadow: none;
}

.add-todo {
   font-weight: 500 !important;
   background-color: #1e84f0 !important;
}

.add-todo:active {
   transform: scale(0.9);
}

.todo-content {
   flex-grow: 1;
   display: flex;
   align-items: center;
   word-spacing: normal;
   letter-spacing: normal;
   text-align: justify;
   text-justify: inter-word;
   line-height: 1.4;
   /* text-align-last: justify; */
}

.date-time-todolist {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.2rem;
   margin: 0 0.2rem;
}

.icon-todo {
   width: 12px;
   height: 12px;
   color: #eee;
}

.time-todo {
   font-size: 12px;
   margin-bottom: 0;
   padding: 0;
   text-align: left;
   color: #eee;
}

.container-todo {
   &>span {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 13px;
   }
}

.container-todo-daytime {
   display: flex;
   gap: 0.3rem;
   flex-wrap: wrap;
   margin-bottom: 2px;
}

@media screen and (max-width: 767px) {
   .todo {
      font-size: 12px;
   }

   .time-todo {
      font-size: 10px;
   }

   .todo-content {
      line-height: 1.2;
   }

   .todo-checkbox {
      min-height: 17px;
      min-width: 17px;
   }

   .todo-edit,
   .todo-delete {
      width: 20px;
      height: 20px;
   }
}