.todolist-container {
   display: flex;
   padding: 0 8px;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.todo-form-container {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 5px 0 0;
   overflow: hidden;
}

.todoscroll {
   width: 100%;
   height: 100%;
   padding-inline: 8px;
   overflow-y: auto;
   overflow-x: hidden;
}

.add-todo {
   width: 60px;
   height: 40px;
   margin-left: 5px;
   background-color: #1e84f0;
   font-size: 14px !important;

   &:hover {
      box-shadow: 0 0 5px #0d70da;
   }
}

.todolist {
   width: 100%;
   height: 340px;
   overflow-y: auto;
   overflow-x: hidden;
   background-color: var(--color-gray-01);
   border-radius: 10px;
   padding: 12px 4px 0 4px;
   position: relative;
}

.todo {
   width: 100%;
   overflow: hidden;
   display: flex;
   overflow-wrap: break-word;
   position: relative;
   align-items: center;
   justify-content: space-between;
   border-radius: 8px;
   margin: 0 4px 14px 0;
   padding: 8px;
   color: #fff;
   background: var(--color-blue-02);
   min-height: 50px;
}

.todo-checkbox {
   margin: 0 8px;
   min-width: 16px;
   min-height: 16px;
   border-radius: 20%;
   vertical-align: middle;
   border: 2px solid #ddd;
   background-color: #fff;
   appearance: none;
   -webkit-appearance: none;
   outline: none;
   cursor: pointer;
   background-repeat: no-repeat;
   background-position: center;

   &:checked {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="lime" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><path d="M5 13l4 4L19 7"></path></svg>');
   }

   &:active {
      transform: scale(1.1);
   }
}

.todo-edit,
.todo-delete {
   width: 18px;
   height: 18px;
   margin: 5px;
   cursor: pointer;
}

.todo-delete-wrapper {
   margin-left: 10px;
   cursor: pointer;

   &:hover {
      color: rgb(247, 28, 28);
      background-color: rgba(238, 131, 131, 0.5);
      border-radius: 10px;
   }
}

@keyframes shake {

   0%,
   100% {
      transform: translateX(0);
   }

   25%,
   75% {
      transform: translateX(-1px);
   }

   50% {
      transform: translateX(1px);
   }
}

.todo-delete:hover {
   animation: shake 0.5s;
}

.completed {
   text-decoration: line-through;
   color: var(--color-purple-blur);
}

.container-new-todo-input {
   width: 100%;
}

.todo-content {
   flex-grow: 1;
   display: flex;
   align-items: center;
   white-space: normal;
   word-spacing: normal;
   letter-spacing: normal;
   text-align: justify;
   line-height: 20px;
   max-width: 100%;
}

.date-time-todolist {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.2rem;
   margin: 0 0.2rem;
}

.icon-todo {
   width: 12px;
   height: 12px;
   color: #eee;
}

.time-todo {
   font-size: 12px;
   margin-bottom: 0;
   padding: 0;
   text-align: left;
   color: #eee;
}

.container-todo {
   width: 100%;
   height: 100%;

   &>span {
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 14px;
   }
}

.container-todo-daytime {
   display: flex;
   gap: 0.3rem;
   flex-wrap: wrap;
   margin-bottom: 2px;
}

.todo-text {
   height: 100%;
   text-overflow: ellipsis;
   word-break: break-word;
   overflow-wrap: break-word;
   overflow: hidden;
}

.todolist-filter {
   width: 100%;
   min-height: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 12px;
   gap: 12px;

   .todo-item-filter {
      background-color: var(--color-blue-03);
      color: var(--color-white);
      border-radius: 8px;
      padding: 6px 8px;
      font-size: 13px;
      font-weight: 700;
      cursor: pointer;
   }

   .todo-item-filter.all {
      background-color: var(--color-blue-04);

      &.active {
         border: 1px solid var(--color-blue-07);
      }
   }

   .todo-item-filter.waitting {
      background-color: var(--color-yellow);

      &.active {
         border: 1px solid var(--color-orange);
      }
   }

   .todo-item-filter.done {
      background-color: var(--color-green-01);

      &.active {
         border: 1px solid var(--color-green);
      }
   }

}

@media screen and (max-width: 767px) {
   .todo {
      font-size: 12px;
   }

   .time-todo {
      font-size: 10px;
   }

   .todo-content {
      line-height: 1.2;
   }

   .todo-checkbox {
      min-height: 17px;
      min-width: 17px;
   }

   .todo-edit,
   .todo-delete {
      width: 16px;
      height: 16px;
   }
}