.nav-user-header-container {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   min-height: 5rem;
   padding-left: 1rem;
   padding-right: 3rem;
   padding-top: 0.1rem;
   padding-bottom: 0.1rem;
   box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
   border-bottom: 2px solid #d1c3c3;
   background-color: #fff;
}

.nav-user-header-container {
   &.darkmode {
      background: linear-gradient(to bottom right, #000, #141b2d, #ddd);
   }
   transition: background-color 0.7s linear;
}

.burger-icon-wapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0.5rem;
   border-radius: 5px;
   padding: 1rem;
}

.burger-icon-wapper:hover {
   cursor: pointer;
   opacity: 0.5;
}

.burger-icon {
   height: 2.5rem;
   width: 2.5rem;
}

.white {
   filter: brightness(0) invert(1);
}

.nav-left {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.nav-left,
.nav-right {
   color: black;
   position: relative;
}

.user-utilities {
   width: 12rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   padding: 0 5px;
}

.user-header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 1rem;
}

.user-header span {
   padding-right: 10px;
}

.user-header__icon {
   padding: 8px;
   border-radius: 50%;
   transition: background-color 0.2s ease-in-out;
}

.user-header__icon:hover {
   background-color: #ddd;
   cursor: pointer;
}

.menu-user {
   display: flex;
   align-items: center;
   position: relative;
   list-style: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.user-icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem 1rem;
   border: 2px solid black;
   font-size: 1rem;
   font-weight: bold;
   color: #000;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   background-color: #fff;
   outline: none;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}

.user-icon:hover,
.user-icon:focus {
   background-color: #202124;
   color: #fff;
}

.user-profile {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px !important;
   width: 40px !important;
   border-radius: 50% !important;
   padding-left: 10px;
   padding-right: 10px;
}

.user-profile::after {
   content: none !important;
}

.icon-menu-item {
   cursor: pointer;
   padding: 10px;
   display: flex;
   font-size: 18px;
   align-items: center;
   transition: transform 500ms linear;
}

.icon-menu-item:active {
   transform: rotate(360deg);
   transition: rotate 500ms linear;
}

.menu-item {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: left;
   font-size: small;
}

.name-menu-item {
   display: flex;
   justify-content: center;
   padding: 0.5rem;
}

.menu-item::before {
   content: '';
   display: inline-block;
}

.name-tab {
   margin-bottom: 0;
   text-align: center;
   font-weight: bold;
}

.darkmode {
   background-color: #141b2d;
   transition: background-color 0.7s linear;
}

.darkmode .nav-left,
.darkmode .nav-right,
.darkmode .header-theme-toggle {
   color: white;
}

.header-username {
   padding: 0 1rem;
   font-weight: 600;
}

@media (max-width: 767px) {
   .slider.round {
      margin-left: 10px;
      width: 60px;
   }

   .name-tab {
      font-size: 1.4rem;
   }
}

@media (max-width: 365px) {
   .slider.round {
      margin-left: 10px;
      width: 60px;
   }

   .name-tab {
      display: none;
   }
}
