.nav-user-header-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   min-height: 5rem;
   padding-left: 1rem;
   padding-right: 3rem;
   padding-top: 0.1rem;
   padding-bottom: 0.1rem;
   box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
   background-color: #fff;
   position: relative;
}

.burger-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   margin: 0 10px 6px 10px;
   border-radius: 5px;
   scale: 1.1;
}

.burger-icon:hover {
   cursor: pointer;
   opacity: 0.5;
}

.nav-left {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.user-utilities {
   padding-left: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.user-header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 1rem;
}

.user-header span {
   padding-right: 10px;
}

.user-header__icon {
   padding: 8px;
   border-radius: 50%;
   transition: background-color 0.2s ease-in-out;
}

.user-header__icon:hover {
   background-color: #ddd;
   cursor: pointer;
}

.menu-user {
   display: flex;
   align-items: center;
   position: relative;
   list-style: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.user-icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem 1rem;
   border: 2px solid black;
   font-size: 1rem;
   font-weight: bold;
   color: #000;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   background-color: #fff;
   outline: none;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}

.user-icon:hover,
.user-icon:focus {
   background-color: #000;
   color: #fff;
}

.user-profile {
   display: flex;
   align-items: center;
}

.user-name {
   padding-left: 5px;
}

.icon-menu-item {
   cursor: pointer;
   margin-right: 10px;
   padding: 10px;
   display: flex;
   font-size: 18px;
   align-items: center;
   justify-content: space-between;
}

.menu-item {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.name-menu-item {
   display: flex;
   justify-content: center;
   padding: 0.5rem;
}

.name-tab {
   text-align: center;
   font-weight: bold;
}

.header-theme-toggle {
   width: fit-content;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.darkmode {
   background-color: #000;
   border-bottom: 1px solid #fff;
}

.darkmode .nav-left,
.nav-right,
.header-theme-toggle {
   color: #fff;
}

.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
   margin: 0;
   scale: 0.6;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

.slider:before {
   position: absolute;
   content: '';
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

input:checked + .slider {
   background-color: #2196f3;
}

input:focus + .slider {
   box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

@media (max-width: 767px) {
   .theme-title {
      opacity: 0;
   }
   .slider.round {
      margin-left: 10px;
      width: 60px;
   }
}
