.Header {
   display: flex;
   align-items: center;
   min-height: 6.5rem;
   padding-left: 1rem;
   background-color: cyan;
   border-top-right-radius: 2rem;
}

.title-username {
   padding-right: 1rem;
}

.toolbars {
   display: flex;
   align-items: center;
   position: absolute;
   right: 4rem;
}

.toolbars + .user {
   background-color: yellow;
}

.user {
   cursor: pointer;
   background-color: transparent;
}

.user:hover {
   background-color: blueviolet;
}
