.setting-header {
   width: 100%;
   height: 50px;
   border-bottom: 2px solid #eee;
   display: flex;
   align-items: center;

   .back-btn-container {
      margin-left: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
         color: #4694ff;
      }
   }
}

.setting-bottom {
   width: 100%;
   height: 100%;
   display: flex;
}

.setting-sidebar {
   display: flex;
   flex-direction: column;
   width: 500px;
   border-right: 2px solid #eee;

}

.setting-content {
   width: 100%;
   margin: 5px 10px;
}

.setting-sidebar-btn {
   margin: 10px 30px;
   padding: 20px;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 600;
}

.setting-sidebar-btn.active {
   background-color: #4694ff;
   color: #fff;
}