.nav-user-header-container {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid var(--color-white-01);
   background: #fff;
   padding: 10px 40px;

   &.darkmode {
      background: linear-gradient(to bottom right, #000, #141b2d, #ddd);
   }

   transition: background-color 0.7s linear;
}

.burger-icon-wapper {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;

   .burger-icon {
      font-size: 18px;
      color: #202224;

      &.darkmode {
         color: #fff;
      }
   }
}

.burger-icon-wapper:hover {
   cursor: pointer;
   opacity: 0.5;
}

.burger-icon {
   height: 2.5rem;
   width: 2.5rem;
}

.white {
   filter: brightness(0) invert(1);
}

.nav-left {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: #fff;
}

.custom-search-input {
   border-radius: 19px;
   margin-inline: 10px;
}

.nav-right {
   color: black;
   position: relative;
}

.user-utilities {
   display: flex;
   gap: 15px;
   align-items: center;
   justify-content: center;
}

.user-header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 1rem;
}

.user-header span {
   padding-right: 10px;
}

.user-header__icon {
   padding: 8px;
   border-radius: 50%;
   transition: background-color 0.2s ease-in-out;
}

.user-header__icon:hover {
   background-color: #ddd;
   cursor: pointer;
}

.menu-user {
   display: flex;
   align-items: center;
   position: relative;
   list-style: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.user-icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem 1rem;
   border: 2px solid black;
   font-size: 1rem;
   font-weight: bold;
   color: #000;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   background-color: #fff;
   outline: none;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}

.user-icon:hover,
.user-icon:focus {
   background-color: #202124;
   color: #fff;
}

.user-profile {
   display: flex;
   align-items: center;
   border-radius: 50%;
   height: 50px;
   gap: 20px;
   cursor: pointer;
}

.user-profile-avatar {
   height: 40px;
   width: 40px;
   border-radius: 50%;
}

.user-profile-info {
   display: flex;
   flex-direction: column;

   .user-profile-name {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 700;
      font-size: 14px;
   }

   .user-profile-role {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 500;
      font-size: 12px;
   }
}

.user-profile-info p {
   margin: 0;
   line-height: 1.2;
}

.icon-menu-item {
   cursor: pointer;
   padding: 10px;
   display: flex;
   font-size: 18px;
   align-items: center;
   transition: transform 500ms linear;
}

.icon-menu-item:active {
   transform: rotate(360deg);
   transition: rotate 500ms linear;
}

.menu-item {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: left;
   font-size: small;
}

.name-menu-item {
   display: flex;
   justify-content: center;
   padding: 4px 8px;
   font-size: 14px;
   font-weight: 500;
}

.menu-item::before {
   content: '';
   display: inline-block;
}


.darkmode .nav-left,
.darkmode .nav-right,
.darkmode .header-theme-toggle {
   color: white;
}

.dropdown-item:hover {
   background-color: #e7e9eb;
}

#nav-search {
   width: 380px;
   margin: 6px 24px;
   position: relative;
}

#nav-input-search {
   border-radius: 20px;
   padding-right: 40px;
   margin: 0px !important;
   border: 2px solid #fff;
}

.nav-search-icon {
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
}

.custom-dropdown-menu {
   margin-top: 5px;
   width: 150px;
}


.user-menu-item {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: auto;

   &.logout {
      color: red !important;
   }
}


@media (max-width: 768px) {
   .slider.round {
      margin-left: 10px;
      width: 60px;
   }

   .icon-menu-item {
      display: none;
   }

}

@media (max-width: 365px) {
   .slider.round {
      margin-left: 10px;
      width: 60px;
   }

   .nav-right {
      right: 20px;
   }
}