@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.side-menu {
   position: fixed;
   top: 0;
   left: -230px;
   width: 230px;
   height: 100%;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   overflow: hidden;
   opacity: 1;
   z-index: 10;
   transition: all .3s ease;
   box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
   font-family: "Poppins", sans-serif;
}

.side-menu.open {
   left: 0;
}

.sidebar {
   height: 100%;
   background-color: #fff;

   &.isDark {
      color: #fff;
      background-color: var(--color-black-01);
      border-color: #343944;
   }
}

.header-sidebar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   position: relative;
   font-size: 24px;
   height: 70px;
   margin-bottom: 18px;

   &.isDark {
      background-color: var(--color-black-01);
      color: #fff;
   }
}

/* logo */
.bars {
   display: none;
}

.header-sidebar-container {
   display: inline-flex;
   font-weight: bold;
   font-size: 24px;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.logo {
   display: inline-flex;
   font-weight: bold;
   font-size: 24px;
   align-items: center;
   justify-content: center;
   height: 100%;

   &.darkmode>span {
      color: #000;
   }

   &.darkmode>span>span {
      color: var(--color-white);
      -webkit-text-stroke: 0.5px var(--color-white);
   }
}

.logo>span {
   margin-top: 15px;
   color: #000;
   -webkit-text-stroke: 0.4px var(--color-white);
}

.logo>span>span {
   color: var(--color-white);
   -webkit-text-stroke: 0.5px var(--color-blue-02);
}

.brand>img {
   width: 3rem;
   height: 3rem;
   margin: 0 5px;
}



.switch {
   --width-of-switch: 5em;
   --height-of-switch: 2em;
   --size-of-icon: 1.4em;
   --slider-offset: 0.3em;
   position: relative;
   width: var(--width-of-switch);
   height: var(--height-of-switch);
   border: 0.5px solid var(--color-blue-03);
   border-radius: 30px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #f4f4f5;
   transition: 0.4s;
   border-radius: 30px;
   border: 1px solid var(--color-blue-02);
}

.slider:before {
   position: absolute;
   content: '';
   height: var(--size-of-icon, 1.4em);
   width: var(--size-of-icon, 1.4em);
   border-radius: 10px;
   left: var(--slider-offset, 0.3em);
   top: 50%;
   transform: translateY(-50%);
   background: linear-gradient(40deg, var(--color-white), var(--color-blue-04) 80%);
   transition: 0.4s;
}

input:checked.isDark+.slider {
   background-color: #303136;
}

input:checked.isDark+.slider::before {
   left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
   background: #303136;
   box-shadow: inset -3px -2px 5px -2px #322caf, inset -10px -4px 0 0 #a3dafb;
}

input:checked+.slider {
   background-color: #f4f4f5;
}

input:checked+.slider::before {
   left: var(--slider-offset, 0.3em);
   background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
}

.footer-sidebar {
   width: 100%;
   padding: 1.6rem;
   position: absolute;
   bottom: 0;
   display: grid;
   place-items: center;
}