.progress-container {
   height: 100%;
   margin-left: 0 20px;
   /* background-color: #000; */
   padding: 20px 10px;
   opacity: 0.9;
}

.title-progress-bar {
   font-weight: 600;
}

.custom-progress-bar {
   background-color: #fff;
   margin: 10px 0px;
   font-weight: 600;
}

.progress-bar-content {
   border-radius: 10px;
   padding: 20px;
   background-color: var(--bodyContent);
}
