/* ForgotPasswordForm.css */

.forgot-password-form-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #fff8e6; /* Màu kem trắng */
}

.forgot-password-form {
   width: 300px;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 8px;
   background-color: #ffffff; /* Nền trắng cho form */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   gap: 10px;
}
