:root {
   --black: #000;
   --white: #fff;
   --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
   --orange: #fca61f;
   --black: #242d49;
   --gray: #788097;
   --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
   --pink: #ff919d;
   --glass: rgba(255, 255, 255, 0.54);
   --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
   --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
   --activeItem: #788097;
   --backgroundSidebar: #3e4759ff;
   --bodyContent: #e7e9eb;
   --buttonSubmit: #4d90fe;
   --buttonSubmitHover: #357ae8;
   --buttonCancel: #fd345c;
   --buttonCancelHover: rgb(240, 48, 86);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 1.2rem;
   text-rendering: optimizeSpeed;
   line-height: 1.3;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

/* Scrollbar CSS */
html *::-webkit-scrollbar {
   border-radius: 0;
   width: 5px;
}

html *::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}

a[href] {
   color: var(--text-color);
   text-decoration: none;
}

html {
   font-size: 80%;
}

label {
   font-size: 1.2rem;
   font-weight: normal;
}

button,
input,
[tabindex] {
   outline: none;
   border: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='select'] {
   display: block;
   width: 100%;
   max-width: 100%;
   min-width: 150px;
   height: 45px;
   padding: 5px 15px;
   margin: 10px;
   border-radius: 8px;
   font-size: 15px;
   font-weight: 500;
   color: black;
   background-color: #edeff2;
   transition: all 0.2s ease-in-out;

   &:hover {
      background-color: #d0d4d9;
   }

   &:focus {
      outline: rgb(71, 156, 247) solid 2px;
      box-shadow: 0 0 0.8rem rgba(30, 132, 240, 0.8);
      background-color: #ffffff;
   }

   &[readonly] {
      background-color: #eee;

      &:hover,
      &:focus {
         outline: none;
         box-shadow: none;
      }
   }
}

input[type='search']::-webkit-search-cancel-button {
   -webkit-appearance: none;
   height: 18px;
   width: 18px;
   margin-left: 0.4em;
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
   cursor: pointer;
}

input[type='search']:focus {
   transform: scale(1.04);
   border-color: #4b9bef;
}

input[type='submit'] {
   display: inline-block;
   padding: 10px 20px;
   background-color: var(--buttonSubmit);
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

input[type='submit']:hover {
   background-color: var(--buttonSubmitHover);
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 0.5rem;
   outline: 0;
   border-radius: 0.3rem;
   z-index: 1;
}

button[type='submit'] {
   padding: 0.5rem 1rem;
   border-radius: 10px;
   font-size: 1.4rem;
   font-weight: 450;
   line-height: 1.5;
   text-align: center;
   color: var(--white);
   background-color: var(--buttonSubmit);
   border: none;
   text-transform: capitalize;
   cursor: pointer;
}

button[type='submit']:active,
button[type='cancel']:active {
   transform: scale(0.9);
}

button[type='submit']:hover {
   color: #fff;
   background-color: var(--buttonSubmitHover);
}

button[type='cancel'] {
   margin-top: 1rem;
   padding: 0.5rem 1.5rem;
   border-radius: 10px;
   font-size: 1.4rem;
   font-weight: 450;
   line-height: 1.5;
   text-align: center;
   color: var(--white);
   background-color: var(--buttonCancel);
   border: none;
   text-transform: capitalize;
   cursor: pointer;
}

button[type='cancel']:hover {
   color: #fff;
   background-color: var(--buttonCancelHover);
}

button[type='cancel']:active,
button[type='cancel']:focus-visible {
   background-color: var(--buttonCancel) !important;
   border-color: var(--buttonCancel) !important;
   box-shadow: var(--buttonCancelHover) !important;
}

button[type='button'] {
   text-transform: capitalize;
}

.table-actions {
   background-color: transparent;
   color: black;
   border: none;

   &.btn,
   &.btn:active,
   &.btn:hover,
   &.btn.show {
      background-color: transparent;
      color: black;
      border: none;
   }
   &::after {
      content: none;
   }
}

.swal2-popup {
   font-size: 16px;
}

.floating-label {
   width: 100%;
   margin: 1rem 0.5rem;
   position: relative;
}

.floating-label input {
   margin: 0;
}

.floating-label label {
   position: absolute;
   left: 1.1rem;
   top: 1rem;
   transition: top 0.3s, left 0.3s, font-size 0.3s;
   color: black;
}

.floating-label input:not(:placeholder-shown) + label {
   top: -0.8rem;
   left: 1rem;
   font-size: 14px;
   color: #007bff;
   background-color: #fff;
   padding: 0 0.1rem;
}

.floating-label input:not(:focus):not(:placeholder-shown) + label {
   display: none;
}

.no-margin-label {
   margin: 0;
}

.form-panel-input.disabled-input {
   background-color: #eee !important;
}
