.login-wrapper {
  background-image: url("./wp4923981.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-form-container {
  border: 2px solid #fff;
  border-radius: 5px;
  background: #000;
  background-color: rgba(0, 0, 0, 0.7);
}

.admin-form {
  padding-bottom: 0px;
  color: #fff;
  background: inherit;
  background-color: inherit;
  transition: all 0.3s ease-in-out;
}

.name-form {
  background: inherit;
  background-color: inherit;
  text-align: center;
  color: white;
  padding: 1rem;
}

.emailInput,
.passwordInput {
  border: 2px solid black;
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 24px;
  background-color: #f8f8f8;
  transition: all 0.3s ease-in-out;
}

label {
  margin-top: 10px;
}

.label-name {
  font-size: 18px;
  font-weight: bold;
}

.button-login {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background: var(--buttonBlue);
  color: var(--white);
  cursor: pointer;
}

.button-login:hover {
  color: #fff;
  background-color: var(--buttonBlueHover);
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24) 0 17px 50px 0
    rgba(0, 0, 0, 0.19);
}

.forgot-password {
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
  text-decoration: underline;
  background: inherit;
  background-color: inherit;
  cursor: pointer;
}

.forgot-password:hover {
  color: #f8f8f8;
  text-decoration: none;
}
