.login-wrapper {
   background-image: url('./wp4923981.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.admin-form-container {
   width: 450px;
   height: 500px;
   border: 2px solid #fff;
   border-radius: 20px;
   background: #0e0e14;
}

.name-form {
   background: inherit;
   background-color: inherit;
   text-align: center;
   font-weight: bold;
   color: white;
   border-radius: 20px;
   padding: 1rem;
}

.input-field {
   margin: 1rem;
   color: #fff;
   font-size: 24px;
}

.input-field .label-input {
   margin-left: 1rem;
   font-weight: bold;
}

input[type='text'],
input[type='password'] {
   border-radius: 18px !important;
}

.btn-login {
   margin: 10px 0;
   width: 60px !important;
}

.forgot-password {
   margin-top: 1rem;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   text-align: center;
   cursor: pointer;
   text-decoration: underline;
}

.other-login {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.item-login {
   margin: 0 10px;
   color: #fff;
}
